body{
    margin: 0;
      padding: 0;
      border: 0;
  }
  
  .image1, .image2, .image3, .image4{
    position: relative;
    opacity: 0.98;
    background-position: absolute;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .image1{
    background-image: url("image1.png");
    min-height: 100%;
    top: 0px;
  }
  
  .image2{
    background-image: url("image2.png");
    min-height: 100%;
  }
  
  .image3{
    background-image: url("image3.png");
    min-height: 100%;
  }
  
  .image4{
    background-image: url("image4.png");
    min-height: 100%;
    bottom: 0;
  }